<!--UrbanIndex by State-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewpoint" content="width=device-width, initial-scale=1"/>
        <title> Template </title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/foundation.css"/>
        
    </head>
    <Body>
        <h3>See pvi values greater than:</h3>
        <form method="get" action="/pviGreaterThan">
            <input type="number" name="value">
            <button type="submit">Submit</button>
        </form>
        <h3>See pvi values less than:</h3>
        <form method="get" action="/pviLessThan">
            <input type="number" name="value">
            <button type="submit">Submit</button>
        </form>
        <h1>theader</h1>
        $data$  
        <div id="scatter" style="width:600px;height:250px"></div>
        <script>
            SCATTER = document.getElementById('scatter');
            Plotly.newPlot(SCATTER, [{
                x: [$xAxis$],
                y: [$yAxis$],
                type: 'scatter'
            }]);
        </script>      
    </Body>
</html>