<!--Pvi_22 by State-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewpoint" content="width=device-width, initial-scale=1"/>
        <title> Template </title>
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="plotly-2.27.0.min.js" charset="utf-8"></script>
    </head>
    <Body>
        <h1>$$$STATE_NAME$$$</h1>
        <table>
            <thead>
                <tr>
                    <th>State</th>
                    <th>cd</th>
                    <th>pvi_22</th>
                </tr>
            </thead>
            <tbody>
                $data$
            </tbody>
        </table>
        <div id="bar" style="width:600px;height:250px"></div>
        <img src = "./../us-state-flags-svg/flags/$$STATE_FLAG$$" alt="flag"/>
        <h3>Click a state below:</h3>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/AL" targets="_self">Alabama</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/AK" targets="_self">Alaska </a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/AZ" targets="_self">Arizona </a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/AR" targets="_self"> Arkansas</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/CA" targets="_self">California</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/CO" targets="_self">Colorado</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/CT" targets="_self">Connecticut </a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/DE" targets="_self">Delaware</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/FL" targets="_self"> Florida</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/GA" targets="_self">Georgia</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/HI" targets="_self">Hawaii</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/ID" targets="_self">Idaho</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/IL" targets="_self">Illinois</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/IN" targets="_self">Indiana</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/IA" targets="_self">Iowa</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/KS" targets="_self">Kansas</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/KY" targets="_self">Kentucky</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/LA" targets="_self">Louisiana</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/ME" targets="_self">Maine</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/MD" targets="_self">Maryland</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/MA" targets="_self">Massachusetts</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/MI" targets="_self">Michigan</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/MN" targets="_self">Minnesota</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/MS" targets="_self">Mississippi</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/MO" targets="_self">Missouri</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/MT" targets="_self">Montana</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/NE" targets="_self">Nebraska</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/NV" targets="_self">Nevada</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/NH" targets="_self">New Hampshire</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/NJ" targets="_self">New Jersey</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/NM" targets="_self">New Mexico</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/NY" targets="_self">New York</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/NC" targets="_self">North Carolina</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/ND" targets="_self">North Dakota</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/OH" targets="_self">Ohio</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/OK" targets="_self">Oklahoma</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/OR" targets="_self">Oregon</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/PA" targets="_self">Pennsylvania</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/RI" targets="_self">Rhode Island</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/SC" targets="_self">South Carolina</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/SD" targets="_self">South Dakota</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/TN" targets="_self">Tennessee</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/TX" targets="_self">Texas</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/UT" targets="_self">Utah</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/VT" targets="_self">Vermont</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/VA" targets="_self">Virginia</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/WA" targets="_self">Washington</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/WV" targets="_self">West Virginia</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/WI" targets="_self">Wisconsin</a>
        <a href="https://webdevdynamicserver.onrender.com/politicalCorrelationByState/WY" targets="_self">Wyoming</a>
    </Body>
</html>