<!--Pvi_22 by urbanIndex-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewpoint" content="width=device-width, initial-scale=1"/>
        <title> Template </title>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet2" href="/css/foundation.css"/>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="grid-container">
                <div class="grid-x grid-padding-x">   
                    <div class="cell small-12 medium-12 large-12" style="background-color: white;">
                        <h4>
                            <div class="topnav">
                                <a href="/index" targets="_self">Home </a>
                                <a href="/politicalCorrelationByState/MN" targets="_self">Route 1</a>
                                <a href="/pviGreaterThan" targets="_self">Route 2</a>
                                <a href="/pviByGrouping/Dense Urban" targets="_self">Route 3</a>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>
        </div> 
    </head>
    <Body>
         <!-- Your page content lives here -->
         <div class="off-canvas-content" data-off-canvas-content>
            <!-- main content within a `grid-container` -->
            <div class="grid-container">
                <!-- `grid-x` represents a row -->
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-12 large-12" style="background-color: white;">
                        <h1>$GROUP_NAME$</h1>
                        $data$
                        <div id="scatter" style="width:600px;height:250px"></div>
                        <script>
                            BAR = document.getElementById('scatter');
                            Plotly.newPlot(BAR, [{
                                x: [$xAxis$],
                                y: [$yAxis$],
                                type: 'scatter',
                                mode: 'markers',
                                xaxis: {title: 'Urban Index'},
                                yaxis: {title: 'pvi'},
                                marker: {size: 12}
                            }]);
                        </script>
                        <h3>Choose the grouping you'd like to see!</h3>
                        <ul>
                            <li><a href="/pviByGrouping/Dense Urban" targets="_self">Dense Urban</a></li>
                            <li><a href="/pviByGrouping/Urban-Suburban" targets="_self">Urban-Suburban </a></li>
                            <li><a href="/pviByGrouping/Dense Suburban" targets="_self">Dense Suburban </a></li>
                            <li><a href="/pviByGrouping/Suburban-Exurban" targets="_self"> Suburban-Exurban</a></li>
                            <li><a href="/pviByGrouping/Rural-Exurban" targets="_self">Rural-Exurban</a></li>
                            <li><a href="/pviByGrouping/Mostly Rural" targets="_self">Mostly Rural</a></li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
    </Body>
</html>